@import "tailwindcss";

:root {  
  --primary-main: #003F5C;
  --primary-dark: #001620;
  --primary-light: #0b5187;
}


@theme inline {
  --color-primary-main: var(--primary-main);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --color-foreground: var(--foreground);
  --font-bebasNeue: var(--font-bebasNeue);
  --font-outfit: var(--font-outfit);

  --shadow-glow-dark: 0 0 15px white;
  --shadow-glow-main: 0 0 10px white;
  --shadow-glow-light: 0 0 5px white;
}

.foreground{
  background-image: linear-gradient(0, var(--primary-dark) 0%, var(--primary-main) 100%);
  /* background-image: linear-gradient(320deg, red 0%, blue 100%); */
}

.no-scroll-btn {
overflow: auto; /* Enables scrolling */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE and Edge */
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
html {
  scroll-behavior: smooth;
}
body {  
  font-family: var(--font-outfit), Helvetica, sans-serif;
  overscroll-behavior: none;
}
